USE [master]
GO
/****** Object:  Database [QuanLyRapPhim]    Script Date: 11/03/26 3:06:34 PM ******/
CREATE DATABASE [QuanLyRapPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyRapPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyRapPhim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyRapPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyRapPhim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyRapPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyRapPhim]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPhong] [int] NOT NULL,
	[Hang] [varchar](5) NOT NULL,
	[So] [int] NOT NULL,
	[idLoaiGhe] [int] NOT NULL,
 CONSTRAINT [PK_Ghe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGhe]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGhe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[PhuPhi] [money] NOT NULL,
 CONSTRAINT [PK_LoaiGhe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNV]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNV](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiNV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiNV] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[idLoai] [int] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](100) NOT NULL,
	[ThoiLuong] [float] NOT NULL,
	[NgayKhoiChieu] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[DaoDien] [nvarchar](50) NULL,
	[idTheLoai] [int] NOT NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[SoCho] [int] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
 CONSTRAINT [PK_PhongChieu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieu]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPhim] [int] NOT NULL,
	[idPhong] [int] NOT NULL,
	[GiaVe] [money] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK_SuatChieu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 11/03/26 3:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idSuatChieu] [int] NOT NULL,
	[idGhe] [int] NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[NgayBan] [datetime] NOT NULL,
	[TongTien] [money] NOT NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoaiNV] ON
INSERT [dbo].[LoaiNV] ([id], [TenLoaiNV]) VALUES (1, N'Quản lý')
INSERT [dbo].[LoaiNV] ([id], [TenLoaiNV]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[LoaiNV] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON
INSERT [dbo].[NhanVien] ([id], [HoTen], [TaiKhoan], [MatKhau], [idLoai]) VALUES (1, N'Nguyễn Văn Admin', N'admin', N'123', 1)
INSERT [dbo].[NhanVien] ([id], [HoTen], [TaiKhoan], [MatKhau], [idLoai]) VALUES (2, N'Trần Thị Lan', N'lan', N'123456', 2)
INSERT [dbo].[NhanVien] ([id], [HoTen], [TaiKhoan], [MatKhau], [idLoai]) VALUES (3, N'Lê Văn Hùng', N'hung', N'123456', 2)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON
INSERT [dbo].[TheLoai] ([id], [TenTheLoai]) VALUES (1, N'Hành động')
INSERT [dbo].[TheLoai] ([id], [TenTheLoai]) VALUES (2, N'Hài hước')
INSERT [dbo].[TheLoai] ([id], [TenTheLoai]) VALUES (3, N'Kinh dị')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON
INSERT [dbo].[Phim] ([id], [TenPhim], [ThoiLuong], [NgayKhoiChieu], [NgayKetThuc], [DaoDien], [idTheLoai]) VALUES (1, N'Avengers: Endgame', 181, N'2025-12-01', N'2026-04-30', N'Anthony Russo', 1)
INSERT [dbo].[Phim] ([id], [TenPhim], [ThoiLuong], [NgayKhoiChieu], [NgayKetThuc], [DaoDien], [idTheLoai]) VALUES (2, N'Spider-Man: No Way Home', 148, N'2025-12-17', N'2026-04-15', N'Jon Watts', 1)
INSERT [dbo].[Phim] ([id], [TenPhim], [ThoiLuong], [NgayKhoiChieu], [NgayKetThuc], [DaoDien], [idTheLoai]) VALUES (3, N'The Batman', 176, N'2026-01-04', N'2026-05-01', N'Matt Reeves', 1)
SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiGhe] ON
INSERT [dbo].[LoaiGhe] ([id], [TenLoai], [PhuPhi]) VALUES (1, N'Thường', 0)
INSERT [dbo].[LoaiGhe] ([id], [TenLoai], [PhuPhi]) VALUES (2, N'VIP', 50000)
INSERT [dbo].[LoaiGhe] ([id], [TenLoai], [PhuPhi]) VALUES (3, N'Đôi', 80000)
SET IDENTITY_INSERT [dbo].[LoaiGhe] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongChieu] ON
INSERT [dbo].[PhongChieu] ([id], [TenPhong], [SoCho], [TinhTrang]) VALUES (1, N'Phòng 01 - Standard', 30, 1)
INSERT [dbo].[PhongChieu] ([id], [TenPhong], [SoCho], [TinhTrang]) VALUES (2, N'Phòng 02 - Premium', 40, 1)
INSERT [dbo].[PhongChieu] ([id], [TenPhong], [SoCho], [TinhTrang]) VALUES (3, N'Phòng 03 - VIP', 48, 1)
SET IDENTITY_INSERT [dbo].[PhongChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Ghe] ON
INSERT [dbo].[Ghe] ([id], [idPhong], [Hang], [So], [idLoaiGhe]) VALUES (1,1,'A',1,1)
INSERT [dbo].[Ghe] ([id], [idPhong], [Hang], [So], [idLoaiGhe]) VALUES (2,1,'A',2,1)
INSERT [dbo].[Ghe] ([id], [idPhong], [Hang], [So], [idLoaiGhe]) VALUES (3,1,'A',3,1)
SET IDENTITY_INSERT [dbo].[Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[SuatChieu] ON
INSERT [dbo].[SuatChieu] ([id], [idPhim], [idPhong], [GiaVe], [TrangThai], [ThoiGian]) VALUES (1,1,1,80000,1,'2026-03-17 09:00:00')
INSERT [dbo].[SuatChieu] ([id], [idPhim], [idPhong], [GiaVe], [TrangThai], [ThoiGian]) VALUES (2,1,1,80000,1,'2026-03-17 14:00:00')
INSERT [dbo].[SuatChieu] ([id], [idPhim], [idPhong], [GiaVe], [TrangThai], [ThoiGian]) VALUES (3,2,1,80000,1,'2026-03-17 19:00:00')
SET IDENTITY_INSERT [dbo].[SuatChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON
INSERT [dbo].[Ve] ([id], [idSuatChieu], [idGhe], [idNhanVien], [NgayBan], [TongTien]) VALUES (1,1,1,2,'2026-03-16 08:00:00',80000)
INSERT [dbo].[Ve] ([id], [idSuatChieu], [idGhe], [idNhanVien], [NgayBan], [TongTien]) VALUES (2,1,2,2,'2026-03-16 08:00:00',80000)
INSERT [dbo].[Ve] ([id], [idSuatChieu], [idGhe], [idNhanVien], [NgayBan], [TongTien]) VALUES (3,1,3,3,'2026-03-16 08:15:00',80000)
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
/****** Object:  Index [Unique_Ghe_SuatChieu]    Script Date: 11/03/26 3:06:34 PM ******/
ALTER TABLE [dbo].[Ve] ADD  CONSTRAINT [Unique_Ghe_SuatChieu] UNIQUE NONCLUSTERED 
(
	[idSuatChieu] ASC,
	[idGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoaiGhe] ADD  CONSTRAINT [DF_LoaiGhe_PhuPhi]  DEFAULT ((0)) FOR [PhuPhi]
GO
ALTER TABLE [dbo].[PhongChieu] ADD  CONSTRAINT [DF_PhongChieu_TinhTrang]  DEFAULT ((1)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[SuatChieu] ADD  CONSTRAINT [DF_SuatChieu_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_LoaiGhe] FOREIGN KEY([idLoaiGhe])
REFERENCES [dbo].[LoaiGhe] ([id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_LoaiGhe]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_PhongChieu] FOREIGN KEY([idPhong])
REFERENCES [dbo].[PhongChieu] ([id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_PhongChieu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiNV] FOREIGN KEY([idLoai])
REFERENCES [dbo].[LoaiNV] ([id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiNV]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [FK_Phim_TheLoai] FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[TheLoai] ([id])
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [FK_Phim_TheLoai]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Phim] FOREIGN KEY([idPhim])
REFERENCES [dbo].[Phim] ([id])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_Phim]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_PhongChieu] FOREIGN KEY([idPhong])
REFERENCES [dbo].[PhongChieu] ([id])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_PhongChieu]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Ghe] FOREIGN KEY([idGhe])
REFERENCES [dbo].[Ghe] ([id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Ghe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_NhanVien]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_SuatChieu] FOREIGN KEY([idSuatChieu])
REFERENCES [dbo].[SuatChieu] ([id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_SuatChieu]
GO
USE [master]
GO
